
.previous-page-btn{
    display: flex;
    margin: 60px 0 0 80px;
    color: black;
}

.previous-page-btn i{
    padding-top: 5px;
}

#back-to-search-btn{
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding-left: 5px;
}

#back-to-search-btn:hover{
   cursor: pointer; 
}

.home-details-container{
    display: flex;
    justify-content: space-around;
    margin: 10px 40px 60px 40px;
}

.property-images{
    position: relative;
}

.property-images img{
    width: 700px;
    height: 500px;
    border-radius: 20px;
}

#prev-image, #next-image{
    position: absolute;
    top: 45%;
    color: #3A5295;
    border: none;
    font-size: 35px;
    background: transparent;
    border-radius: 12px;
    transition: color 0.3s ease, transform 0.3s ease;
}

#next-image{
    left: 94%;
}

#prev-image:hover, #next-image:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.all-property-details{
    width: fit-content;
}

.property-details{
    height: fit-content;
    border: 1px solid lightgray;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: transparent;
}

.property-details h3{
    text-align: center;
}

.additional-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 40px 0;
    gap: 40px;
    border-top: 1px solid lightgray;
    margin-top: 40px;
    font-size: 22px;
}

.additional-details h3{
    color: #3A5295;
    font-size: 20px;
    font-weight: bold;
}

.beds-and-baths-count, .property-type, .property-state, .property-availability, .property-price{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.beds-count, .baths-count{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.shortlist-book-viewing-container{
    display: flex;
    gap: 20px;
    position: relative;
    margin-top: 30px;
}

.shortlist-properties {
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid lightgray;
    width: 50%;
    text-align: center;
}

.shortlist-properties > button {
    background: transparent;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    color: inherit;
    cursor: pointer;
}

.shortlist-properties > svg {
    padding-top: 3px;
}

.shortlist-properties:hover {
    background-color: #3A5295;
    color: white;
    cursor: pointer;
}

#book-viewing-btn:hover {
    background-color: #3A5295;
    color: white;
    cursor: pointer;
}

#book-viewing-btn{
    margin-top: 20px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid lightgray;
    font-size: 16px;
    width: 50%;
}

.middle-content-container{
    display: flex;
    margin: 0 80px;
    gap: 200px;
}

.property-description, .bedroom-prices{
    width: 50%;
}

.bedroom-prices h1{
    margin-bottom: 20px;
}

.bedroom-prices p{
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
}

.single-bedroom-prices{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid lightgray;
    gap: 10px;
}

.single-price{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
}

.single-price:last-child {
    border-bottom: none;
}

.property-description {
    display: flex;
    flex-direction: column;
}

.property-description h1 {
    margin-bottom: 20px;
}

.key-features {
    margin: 20px 80px 80px 80px;
}

.property-description p, .key-features p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}

.feature {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}

.feature > img {
    height: 15px;
    width: 15px;
}

.book-viewing-container {
    position: relative;
}

.top-viewing-container h1 {
    margin-bottom: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin: 30px 5px;
    z-index: 1;   
}
 
.left-side-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-side-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

textarea {
    resize: vertical;
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
}

#submit-btn{
    background: transparent;
    border: 1px solid #3A5295;
    font-size: 20px;
    border-radius: 12px;
    width: 250px;
    height: 40px;   
}

#submit-btn:hover{
    background: #3A5295;
    color: white;
    cursor: pointer;
}

#book-viewing-submit-btn {
    background: transparent;
    border: 1px solid #3A5295;
    font-size: 20px;
    border-radius: 12px;
    margin-top: 20px;
    width: 250px;
    height: 40px;
}

#book-viewing-submit-btn:hover, .navigate-home-btn:hover{
    background-color: #3A5295;
    color: white;
    cursor: pointer;
}

.navigate-home-btn { 
    background-color: transparent;
    margin: 25px 180px;
    font-size: 16px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 8px;
}