.header-container{
    display: flex;
    justify-content: space-between;
    background: #00A2E1;
    width: 100%;
    height: 70px;
    padding: 0 40px;
}

#unilife-homepage{
    font-size: 30px;
}

.logo-and-title, .shortlist-container, .contact-us-container, .right-header-links{
    display: flex;
    align-items: center;
}

.right-header-links {
    gap: 40px;
}

.right-header-links i{
    color: white;
    font-size: 20px;
    padding-top: 5px;
    width: 25px;
}

.contact-us-container button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

#shortlist-btn{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.contact-us-container button:hover, #shortlist-btn:hover{
    cursor: pointer;
}

.contact-us-container{
    position: relative;
}

.modal-header{
    margin: 5px;
}

.modal-header h2{
    color: black;
    font-weight: bold;
    padding-bottom: 30px;
}

#mailbox-pic{
    position: absolute;
    width: 12%;
    left: 85%;
    top: 3%;
}

.form-container{
    display: flex;
    gap: 60px;
    margin: 30px 5px;
    z-index: 1;
}

.left-side-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-side-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

textarea {
    resize: vertical;
  }


#submit-btn{
    background: transparent;
    border: 1px solid #3A5295;
    font-size: 22px;
    padding: 5px 0;
    border-radius: 12px;
}

#submit-btn:hover{
    background: #3A5295;
    color: white;
    cursor: pointer;
}

.form-container input, #student-type, #message{
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    margin-top: 10px;
    border: 1px solid lightgray;
}

.shortlist-modal-container{
    z-index: 2;
}

.shortlisted-properties img{
    width: 80px;
    height: 80px;
}