.search-options-container{
    display: flex;
    position: absolute;
    top: 72%;
    left: 22%;
    z-index: 0;
    padding: 15px 10px;
    border-radius: 12px;
    width: 60%;
    background-color: white;
    box-shadow: 1px 2px 2px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 11px 3px rgba(0,0,0,0.75);
}

.search-options-container label{
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}

.search-options-container select{
    border-radius: 6px;
    padding: 5px 10px 5px 20px;
    margin-top: 10px;
    width: 180px;
}

.search-option{
    margin-left: 10px;
}

.top-details-container{
    margin: 80px 0 0 60px;
}

.top-details-container h2{
    color: black;
}

.details-container{
    min-height: 100vh;
}

.city-description-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    margin: 120px 60px;
    border-radius: 16px;
    padding: 30px 10px;
}

.left-city-description{
    width: 40%;
}

.left-city-description h1{
    margin-bottom: 40px;
}

.left-city-description p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}

.property-adress p{
    font-style: italic;
}