.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    color: white;
    height: 60px;
    padding: 0 40px;
}

.footer-left-links, .footer-right-links{
    display: flex;
    gap: 20px;
}

#copyright-text{
    display: flex;
    gap: 2px;
}

#copyright-text > i{
    padding-top: 2px;
    color: white;
}