.homepage-container{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.banner-container{
    position: absolute;
    top: 6%;
    left: 37%;
    z-index: 0;
    color: white;
    width: 450px;
    text-align: center;
}

.banner-container h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.search-city-container{
    display: flex;
    position: absolute;
    top: 15%;
    left: 22%;
    z-index: 0;
    padding: 15px 10px;
    border-radius: 12px;
    width: 60%;
    background-color: white;
    box-shadow: 1px 2px 2px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 11px 3px rgba(0,0,0,0.75);
}

#search-city{
    padding: 5px 250px 5px 10px;
    border-radius: 20px;
    margin: 0 50px;
    font-size: 16px;
    border: 2px solid #3A5295;
    overflow: hidden;
}

#find-homes-btn{
    padding: 5px 80px;
    border-radius: 20px;
    border: 2px solid #3A5295;
    background-color: transparent;
    font-size: 18px;
}

#find-homes-btn:hover{
    cursor: pointer;
    color: white;
    background-color: #3A5295;
}

.student-accomodations-container{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 60px 0 20px 0;
    position: relative;
}

.city-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
    margin-left: 40px;
}

#see-all-cities{
    border: 2px solid #3A5295;
    padding: 10px 30px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 20px;
    margin: 0 0 60px 0;
    color: black;
    width: fit-content;
    position: absolute;
    left: 45%;
}

#see-all-cities:hover{
    cursor: pointer;
    background-color: #3A5295;
    color: white;
}


.features-container{
    background-color: aliceblue;
    margin: 150px 80px 80px 80px;
    padding: 20px 50px;
    border-radius: 12px;
    text-align: center;
}

.features-container h1{
    margin-bottom: 80px;
}

.features-listed{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

.features-listed img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

.features-listed h3{
    margin-bottom: 20px;
}

.marketing-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 50px;
}

.left-side-marketing-container{
    width: 23%;
}

#best-selection-img{
    position: absolute;
    top: 0;
    left: 10%;
}

.best-selection, .favourite-selection{
    text-align: start;
    margin-bottom: 60px;
}

#search-compare-btn{
    color: black;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #3A5295;
    border-radius: 12px;
    padding: 5px 20px;
}

#search-compare-btn:hover{
    cursor: pointer;
    background-color: #3A5295;
    color: white;
}

.left-side-marketing-container i{
    font-size: 50px;
    position: absolute;
    top: 44%;
    left: 10.5%;
    color: #3A5295;
}

.best-selection h3{
    margin-bottom: 10px;
}

.favourite-selection h3{
    margin-bottom: 10px;
}

#students-image{
    margin-bottom: 20px;
    border-radius: 8px;
}

